* {
  box-sizing: border-box;
}
.chunk-num {
  display: block;
  font-size: 20px;
  margin: 20px 0px;
}

.form-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
}
form {
  border: 1px solid #ccc;
  padding: 20px;
}

.file-label {
  display: block;
  margin-bottom: 10px;
}

.upload-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}
.download-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}

.upload-button:hover {
  background-color: #45a049;
}

.chunks {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  border: 2px solid #45a049;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
  resize: vertical; /* Allow vertical resizing only */
}
.chunks p {
  font-size: 20px;
}

span {
  display: block;
  margin-top: 5px;
  font-size: 18px;
}

.btns button {
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  margin-right: 15px;
  border: none;
  cursor: pointer;
}

.btns button:hover {
  background-color: #4caf50;
}

@media (max-width: 768px) {
  textarea {
    height: 100px;
  }
}
.row2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  align-self: flex-start;
}
.row2 span {
  color: #45a049;
}
